
.formControl.error input,
.error textarea{
    border: solid red 1px;
}

.formControl.error span {
    color: red;
}

.formSummaryError{
    border: 1px solid red;
    padding: 5px;
    color:brown;
}
